<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/index.css') }}">
    <title>URL Shortener</title>
</head>
<body>
    <h1>URL shortener</h1>
    <form method="POST" action="{{ url_for('home') }}">
        <input type="text" name="original_url">
        <input type="submit">
    </form>
    <div>
    {% if url %}
        {% if 'that is not a url' in url %}
            <p>{{ url }}</p>
        {% else %}
            <a href="{{ url_for('new_link', short_url=url) }}">{{ url }}</a>  <input type='button' onClick='copyClipboard()' value='💾' alt='Copy'>
        {% endif %}
    {% endif %}
    </div>
    <script>
        function copyClipboard() {
            var a = document.querySelector("a");
            var input = document.querySelector("[type='button']");
            navigator.clipboard.writeText(a.href);
            input.value='✔'
        }
    </script>
</body>
</html>